# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# Database (To prevent overwriting NAS database with local one)
instance/
*.db
*.sqlite3

# Mac specific
.DS_Store

# Docker & Deployment scripts
Dockerfile
docker-compose.yml
update.sh

# Secrets
.env

# Node & Tailwind
node_modules/
package-lock.json